.header {
    background-image: linear-gradient(180deg, #00000096, transparent);
    background-color: #3523bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;

    .sub-menu {
        &__icon {
            padding: 10px;
            margin-left: -10px;
            cursor: pointer;
            img {
                width: 30px;
                height: auto;
            }
        }
    }

    &-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .logo {
            img {
                width: 200px;
                height: auto;
            }
        }
    }
    &-right {
        .social {
            &-item {
                img {
                    height: 19px;
                    width: auto;
                }
            }
        }
    }
}

.sub-menu {
    &__content {
        position: fixed;
        left: 0;
        top: 0;
        width: min(400px, 70vw);
        padding: 40px 30px;
        height: 100%;
        background-image: linear-gradient(180deg,#DEEAFF 0%, #DEEAFF 56%, #fff 100%);
        z-index: 100;
        box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2),
            0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14),
            0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
        transform: translateX(-100%);
        transition: all 0.2s ease;
    }

    &__close {
        width: 30px;
        height: 30px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__container {
        height: calc(100% - 100px);
        overflow: auto;
    }
    &__item {
        .link {
            font-weight: 600;
            font-size: 18px;
            color: #212131;
            display: block;
            margin-bottom: 32px;
        }
        &.active {
            .link {
                color: #271B80;
            }
        }
    }
    &.active &__content {
        transform: translate(0);
    }
    &.active .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}