// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .block-primary {
        flex-direction: column;
        min-height: calc(100vh - 169px);

        &__left {
            text-align: center;
            margin-bottom: 80px;
            width: 80%;
            .title,
            .sub-title,
            .des {
                max-width: 100%;
            }

            .list-text {
                text-align: left;
            }
        }

        &__right {
            width: 80%;
        }
        &__articles {
            .article-number {
                font-size: 90px;
            }
        }
    }

    .block-primary_2 {
        min-height: auto;
    }

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    // -------------------------------------------------------------------- index
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail
    // --------------------------------------------------------------------footer
}
// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    // --------------------------------------------------------------------index
    .block-main {
        background-image: linear-gradient(135deg, #0f006b, #0D0E29);
    }
    .block-primary {
        &__left {
            margin-bottom: 40px;
            width: 100%;
            .title {
                font-size: 60px;
            }
            .sub-title {
                font-size: 32px;
            }
        }
        &__right {
            width: 100%;

            .list-info {
                &__text {
                    font-size: 32px;
                }
            }
            
        }
        &__articles {
            .article-number {
                font-size: 80px;
            }
        }
    }
    .block-primary_2 {
        padding-bottom: 40px;
    }
    .block-tertiary {
        .articles {
            display: block;
        }
    }
    .block-senary {
        &__content {
            grid-template-columns: repeat(2,1fr);
        }
    }
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail
    // --------------------------------------------------------------------footer
}

// max width 768px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .header {
        &-container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .sub-menu {
            &__icon {
                img {
                    width: 25px;
                }
            }
        }
        .header-center {
            .logo {
                img {
                    width: 160px;
                }
            }
        }
    }
    .sub-menu {
        &__content {
            padding: 24px 20px;
        }
        &__close {
            width: 25px;
            height: 25px;
        }
        &__item {
            .link {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
    // --------------------------------------------------------------------index
    .w-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .heading-one,
    .heading-two {
        font-size: 32px;
        margin-bottom: 40px;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next {
        width: 48px;
        height: 32px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 16px;
    }
    .block-main {
        &__bg1 {
            img {
                width: 60%;
            }
        }
        &__bg2 {
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 80%;
                margin-left: auto;
            }
        }
        &__bg3 {
            top: 15%;
            left: auto;
            right: -50%;
        }
        &__bg4 {
            img {
                width: 150px;
            }
        }
    }
    .block-primary {
        padding: 0;
        &__articles {
            .article {
                margin-bottom: 40px;
            }
            .article-number {
                top: 0;
            }
        }
        &__left {
            text-align: left;

            .title {
                font-size: 48px;
            }
            .sub-title {
                font-size: 24px;
            }
            .des {
                font-size: 16px;
                margin-top: 20px;
            }
        }
        &__right {
            .list-info {
                &__text {
                    font-size: 20px;
                }
                &__item {
                    margin-bottom: 16px;
                }
                &__increase {
                    width: 32px;
                    height: 32px;
                    font-size: 16px;
                }
            }
        }
    }
    .block-secondary {
        margin-bottom: 60px;
        .articles {
            padding-left: 30px;
            padding-right: 30px;
        }
        .article {
            margin-bottom: 40px;
        }
    }
    .block-tertiary {
        margin-bottom: 60px;

        .article-title {
            font-size: 18px;
        }
    }
    .block-quaternary {
        margin-bottom: 60px;
    }
    .block-quinary {
        margin-bottom: 60px;

        &__content {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0;

            .article {
                &:nth-child(1){
                    margin-bottom: 20px;
                    grid-column: 1/3;
                    .article-title {
                        font-size: 20px;
                    }
                }
                &:nth-child(2){
                    grid-column: unset;
                    .article-content {
                        margin-top: 12px;
                    }
                    .article-title {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .article-des {
                        display: none;
                    }
                }
                &:nth-child(n + 3){
                    .article-title {
                        font-size: 16px;
                        font-weight: 500;
                    } 
                }
                &:nth-child(n + 2){
                    padding: 10px;
                }
                &:nth-child(even) {
                    padding-left: 0;
                    
                }
                &:nth-child(odd) {
                    padding-right: 0;
                }
            }
        }
    }
    .block-quinary-2 {
        margin-bottom: 60px;
        &__large {
            .article {
                display: block;
            }
            .article-content {
                margin-top: 20px;
            }
            .article-title {
                font-size: 20px;
            }
        }
        &__small {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0;
            border-bottom: 0;
            padding-bottom: 0;
            .article {
                padding: 10px;

                &:nth-child(odd) {
                    padding-left: 0;
                    
                }
                &:nth-child(even) {
                    padding-right: 0;
                }
            }
            .article-title {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &__articles {
            margin-top: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
            .articles {
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
            .article {
                display: block;
                padding: 10px;
                border-bottom: 0;

                &:nth-child(odd) {
                    padding-left: 0;
                    
                }
                &:nth-child(even) {
                    padding-right: 0;
                }
            }
            .article-img {
                width: 100%;
            }
            .article-content {
                margin-left: 0;
                margin-top: 12px;
            }
            .article-title {
                font-size: 16px;
                font-weight: 500;
            }
            .article-des {
                display: none;
            }
        }
    }

    .block-senary {
        margin-bottom: 60px;
        &__content {
            grid-gap: 0;

            .article {
                margin: 10px;
            }
            .article-img {
                padding: 6px;
            }
            .article-title {
                font-size: 16px;
            }
            .article-subTitle {
                font-size: 14px;
            }
        }
    }

    .cate-2-secondary {
        .article {
            display: block;
        }
        .article-img {
            width: 100%;
        }
        .article-content {
            margin-top: 15px;
            margin-left: 0;
        }
    }
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail
    .detail-primary {
        padding-top: 60px;
    }
    .detail-tags {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    // --------------------------------------------------------------------footer
    .footer-content {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}

